.task-box-tareas {
  display: grid;
  grid-template-columns: 1fr 0.05fr;
}

i {
}

.btn {
  margin-right: 0.5rem;
  margin-top: 1rem;
  background-color: #0260a7;
  border-color: #0260a7;
  width: 10rem;
  font-size: 13px;

  color: #fff;
}

.btn:hover {
  background-color: #0099bb;
  border-color: #0099bb;
  // color: #fff;
}
